# Exclude unnecessary files from Composer package
/.gitignore export-ignore
/.github export-ignore
/tests export-ignore
/.git export-ignore
/composer.lock export-ignore

# Include example folders (by NOT excluding them)
# So don't put export-ignore on these!
# No need to escape !
