# Ignore all these file types or folders from being exported
/.gitignore export-ignore
/.github export-ignore
/tests export-ignore
/.git export-ignore
/composer.json export-ignore
/composer.lock export-ignore

# Allow 'flutter-example' and 'laravel-example' to be included
\!flutter-example/** export-ok
\!laravel-example/** export-ok
